<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniBeat</title>


    <link rel="apple-touch-icon" sizes="180x180" href="https://osu.ppy.sh/images/favicon/apple-touch-icon.png">
    <link rel="icon" sizes="32x32" href="https://osu.ppy.sh/images/favicon/favicon-32x32.png">
    <link rel="icon" sizes="16x16" href="https://osu.ppy.sh/images/favicon/favicon-16x16.png">

    <link rel="stylesheet" href="css/style.css">

</head>
<body>
    <div id="main-container">
        <div id="main-container-item-left">

        </div>

        <div id="main-container-item-middle">

        </div>

        <div id="main-container-item-right">
            
        </div>

    </div>
</body>
</html>